<div class="container">
    <br />
    <div class="row" style="justify-content: space-between;">
    <h1> <b> <small>CUSTOMERS</small></b> </h1>


</div>
<hr />
    <div class="table-responsive">
    <table class="table-bordered table-hover table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> NAME </th>
         
        </tr>
        </thead>
        <tbody>
        {% for obj in objs %}
        <tr class="w-100 h-25">
            
            <th scope="row"> {{obj.id}} </th>
            <td> {{obj.name}} </td>
            
            
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>