<div class="container">
    <br />
    <div class="row" style="justify-content: space-between;">
    <h1> <b> <small>RATES</small></b> </h1>


</div>
<hr />
    <div class="table-responsive">
        <table class="table table-bordered table-dark">
            <tbody>
              <tr>
                <th scope="row"> TOTAL ORDERS </th>
                <td> {{ total }} </td>
              </tr>
              <tr>
                <th scope="row"> COMPLETED ORDERS </th>
                <td> {{ done }} </td> 
              </tr>
              <tr>
                <th scope="row"> ASSIGNED ORDERS </th>
                <td> {{ assigned }} </td>
              </tr>
              <tr>
                <th scope="row"> PENDING ORDERS </th>
                <td> {{ pending }} </td>
              </tr>
            </tbody>
          </table>
</div>
</div>