<div class="container">
    <br />
    <div class="row" style="justify-content: space-between;">
        <h1> <b> <small>SUPPLIERS</small></b> </h1>
    <div>
     
    </div>
<hr />
    <div class="table-responsive">
    <table class="table-bordered table-hover table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> SUPPLIER INFORMATION </th>
            <th scope="col"> SUPPLIER ADDRESS </th>
            <th scope="col"> CONTACT NAME </th>
            <th scope="col"> EMAIL </th>
            <th scope="col"> FAX </th>
            <th scope="col"> TELEPHONE </th>
            <th scope="col"> NOTE </th>
        </tr>
        </thead>
        <tbody>
        {% for obj in objs %}
        <tr class="w-100 h-25">
            
            <th scope="row"> {{obj.id}} </th>
            <td> {{obj.supplier_info}} </td>
            <td> {{ obj.supplier_address }} </td>
            <td> {{ obj.contact_name }} </td>
            <td> {{ obj.email }} </td>
            <td> {{ obj.fax }} </td>
            <td> {{ obj.tel }} </td>
            <td> {{ obj.note }} </td>
           
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>